.container {
  background: blue;
  width: 80vw;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.parent {
  background: black;
  color: white;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  animation: spin 2s linear infinite;
}
.ball {
  background: radial-gradient(white, red);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 50px;
  animation: circle 2s infinite ease-in-out alternate;
}

h2 {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    left: 50px;
    top: 50px;
  }

  25% {
    left: 70vw;
    top: 50px;
  }
  50% {
    left: 70vw;
    top: 70vh;
  }
  75% {
    left: 50px;
    top: 70vh;
  }

  100% {
    left: 50px;
    top: 50px;
  }
}
