* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: black;
  position: relative;
  height: 100vh;
  color: white;
}
.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1,
.c2,
.c3,
.c4 {
  width: 150px;
  height: 150px;
  position: absolute;
}

.c1 {
  background: linear-gradient(orangered, yellow);
  top: 50px;
  left: 50px;
  border-radius: 50%;
}

.c2 {
  background: linear-gradient(orangered, yellow);
  bottom: 50px;
  left: 50px;
  height: 170px;
  border-radius: 80% 30% 20% 10%;
}

.c3 {
  background: linear-gradient(rgb(238, 0, 255), rgb(128, 0, 0));
  bottom: 50px;
  right: 50px;
  border-radius: 30% 30% 60% 20%;
}

.stack {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
}

.cc {
  background-color: rgba(255, 255, 255, 0.311);
  position: absolute;
  width: 450px;
  height: 250px;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.826);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(128, 128, 128, 0.628);
  backdrop-filter: blur(10px);
}

.title {
  font-size: 1.5rem;
}

.num {
  font-size: 2rem;
  margin-top: 5rem;
}

.details {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.top {
  font-size: 0.7rem;
}

.btm {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.details > div:last-child {
  font-size: 2.5rem;
  font-weight: bolder;
}

.c4 {
  background: linear-gradient(purple, red);
  border-radius: 50%;
  right: calc(50% - 300px);
  top: calc(50% - 200px);
