.parent {
  background: grey;
}

.parent > div {
  margin: 20px;
  background: blue;
  width: 80px;
  height: 80px;

  /* flex  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1 {
  /* box-shadow: y x blure distance color inset; */
  box-shadow: 0px 0px 0px 0px black inset;
}
